.TempChartElement {
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 10px;
}

.ChartContainer {
  width: 630px;
  display: flex;
  flex-flow: column;
}

.TimeFilterContainer {
  width: 630px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0px 10px 0px 10px;
  justify-content: space-between;
  margin: auto;
  margin-top: 10px;
}

.FilterButtonContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
